*{
    padding: 0;
    margin: 0;
}

body{
    background: steelblue;
}

.title{
    background: tomato;
    color: darkblue;
    text-align: center;
    padding: 30px;
}

.conteneur{
    display: inline-block;
    background-color: grey;

}

.conteneur img{
    width: 100px;
    object-fit: cover;
}

#droite{
    float: left;
}
#gauche{
    margin-top: -36px;
    border: 10rem solid grey;
}
#gauche:start{
    /*border: 0 solid black;*/
}


::selection{
    background-color: black;
    color: mediumslateblue;
}