*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body{
    background-color: salmon;
}

.primaire{
    background-color: cadetblue;
}

.myphp{
    background-color: darkkhaki;
}

.menu{
    font-size: 20px;
    color: red;
    text-align: center;
    margin: 8rem;
}

form *{
    color: deepskyblue;
    font-style: italic;
}

form input{
    font-size: 18px;
    text-align: center;
}

.titre{
    padding: 20px;
}

.valide{
    background-color: #1877f2;
    font-size: 14px;
    color: white;
    padding: 10px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-text p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-text p a{
    color:#44bae8;
    font-size: 16px;
    text-decoration: none;
}