body {
    min-height: 4096px;
    background: steelblue;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000000;
}

footer {
    background-color: red;
    transition: background-color 0.5s;
}