*{
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    font-size: 25px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.hamburger-button {
    display: none;
    width: 10px;
    height: 5px;
    background-color: #000;
    cursor: pointer;
}

#menu-links {
    display: none;
}

#menu-links.visible {
    display: block;
}


@media only screen and (max-width: 767px) {
    .hamburger-button {
        display: block;
    }
    nav {
        display: none;
    }
    #menu-links {
        display: none;
    }
}
